// Table
.table td,
.table th {
    vertical-align: middle;
}

.table-header-primary {
    .table thead th {
        background: #EAF4FF !important;
        color: rgba(13, 71, 161, 0.5) !important;
        font-weight: 700;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}