<tabset [class]="navClass">
    <tab *ngFor="let t of tabs" [active]="t.id === activeId" [disabled]="t.disabled" (selectTab)="onSelect(t)">
        <ng-template tabHeading>
            <i *ngIf="t.icon" [class]="t.icon" class="me-1"></i>
            {{ t.label }}
            <span *ngIf="t.badge !== null && t.badge !== undefined" class="badge rounded-pill ms-2" [ngClass]="{
              'bg-secondary': !t.badgeType || t.badgeType === 'default',
              'bg-success': t.badgeType === 'success',
              'bg-warning': t.badgeType === 'warning',
              'bg-danger'  : t.badgeType === 'danger'
            }">
                {{ t.badge }}
            </span>
        </ng-template>
    </tab>
</tabset>

<ng-content></ng-content>