@import 'src/assets/scss/core_table';

.table-header-primary thead th {
  background: #f1f5ff;
  color: #4356a3;
}

.fw-500 { font-weight: 500; }

.action-column {
  white-space: nowrap;
  width: 120px;
}
