.text-action-view {
    color: #3498db;
  }
  .text-action-edit {
    color: #f39c12;
  }
  .text-action-delete {
    color: #e74c3c;
  }
  .text-action-pending {
    color: #fd7e14;
  }
  .text-action-assign {
    color: #8e44ad;
  }
  